@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.rose.500");
    color: theme("colors.white");
    box-shadow: theme("boxShadow.xl");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    width: theme("width.full");
  }
}

@layer utilities {
  .transit {
    @apply transition-all ease-linear duration-300;
  }
  .blurBg {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.247),
        rgba(0, 0, 0, 0.416)
      ),
      url(https://solanart.io/_next/image?url=https%3A%2F%2Fapi-v2.solanart.io%2Fcdn%2F500%2Fhttps%3A%2F%2Farweave.net%2Fjm6wD4dL6h-ngCdATOmufSbaYLXsAzCseyOveXnkYk8&w=1920&q=75);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .blurB {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.216),
        rgba(255, 255, 255, 0.253)
      ),
      url(https://solanart.io/_next/image?url=https%3A%2F%2Fapi-v2.solanart.io%2Fcdn%2F500%2Fhttps%3A%2F%2Farweave.net%2Fjm6wD4dL6h-ngCdATOmufSbaYLXsAzCseyOveXnkYk8&w=1920&q=75);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.whiteT {
  background: rgba(255, 255, 255, 0.241);
}

.darkT {
  background: rgba(15, 23, 42, 0.321);
}
